<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form method="POST" action="/register">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="interests">Interests:</label>
        <input type="text" id="interests" name="interests" required><br><br>
        <label for="interests">Email ID:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="interests">Subdomain</label>
        <input type="text" id="subdomain" name="subdomain" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>

